<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <link href="css/userPage.css"
          rel="stylesheet">
    <link href="css/admin.css"
          rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>All Users</title>
</head>
<body>
<div class="flex-header">
    <div class="row userinfo">
        <p class="email" th:text="${user.getEmail()}"></p>
        <p>with roles: </p>
        <p th:each="role : ${user.getRoles()}" th:text="*{role.getRole()}"></p>
    </div>
    <div class="row logout">
        <a href="/logout">logout</a>
    </div>
</div>
<div class="container">
    <div class="row user_roles">
        <div class="user_roles_container">
            <ul class="nav nav-pills"  id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="user" th:id="admin_role" th:text="ADMIN"
                       href="#admin">
                    </a>
                    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="user" th:id="user_role" th:text="USER"
                       href="#user">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane row user_info_page" id="user" role="tabpanel" aria-labelledby="user-page-tab">
            <div>
                <h1>User information page</h1>
                <div class="custom_table">
                    <div class="header">
                        <p>About user</p>
                    </div>
                    <div class="content">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Roles</th>
                            </tr>
                            </thead>
                            <tbody id="user_content">
                            <!--Render user-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    <div class="tab-pane show active row users_info_page" id="admin" role="tabpanel" aria-labelledby="admin-page-tab">
        <div>
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#all_users">Users table</a></li>
                <li><a data-toggle="tab" href="#new_user">New User</a></li>
            </ul>
            <div class="tab-content">
                <div id="all_users" class="custom_table tab-pane fade in active">
                    <div class="header">
                        <p>All users</p>
                    </div>
                    <div class="content">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id= "all_users_content">
                            <!--Render all users-->
                            </tbody>
                        </table>
                        <!--The Modal-->
                       <!-- <div th:replace="fragments/modal :: modal_edit"></div>

                        <div th:replace="fragments/modal :: modal_delete"></div> -->
                    </div>
                </div>
                <div id="new_user" class="tab-pane fade">
                    <div class="custom_table">
                        <div class="header">
                            <p>Add new user</p>
                        </div>
                        <div class="content">
                            <!--Add user-->
                            <div th:replace="fragments/user :: add_user"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
<script src="js/updateUser.js"></script>
<script src="js/fullmodal.js"></script>
<script src="js/adminpage.js"></script>
<script src="js/userpage.js"></script>
</body>
</html>