<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table>
    <tr>
        <th>All Users</th>
    </tr>
</table>
<table border="allUser">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <p th:each="role : ${user.getRoles()}" th:text="*{role.getRole()}"></p>
        </td>
        <td><a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{/admin/delete/{id}(id=${user.getId()})}">Delete</a></td>
    </tr>
</table>
<div>
    <a href="/admin/add">Create new user</a>
</div>
<div>
    <a href="/logout">logout</a>
</div>
</body>
</html>